<svelte:options accessors={true}/>
<script>
import Spinner from '../Spinner.svelte';
import StudentRow from './StudentRow.svelte';

export let group_id;
export let show = () => {
    hidden = false;
};

let results = [];
let first_name = '';
let last_name = '';
let local_id = '';
let timer;
let next_page = null;
let loading = false;
let loading_more = false;
let emptyForm;
let preTimer = false;
let hidden = true;

$: emptyForm = !first_name && !last_name && !local_id;

$: if(emptyForm) {
    results = [];
}

function fetchResults() {

    clearTimeout(timer);
    if (emptyForm) return;
    preTimer = true;
    timer = setTimeout(() => {
        preTimer = false;
        loading = true;
        axios.get('/web-api/search-users', { params: { first_name, last_name, local_id, type: 'student' } })
             .then(resposne => {
                 results = resposne.data.data
                 next_page = resposne.data.links.next
                 loading = false
             }).catch(err => {
                 loading = false
             })
    }, 400);
}

function loadMore() {
    loading_more = true;
    axios.get(next_page)
            .then(resposne => {
                results = [...results, ...resposne.data.data]
                next_page = resposne.data.links.next
                loading_more = false
            }).catch(err => {
                loading_more = false
            })
}

</script>

<div  class:hidden="{hidden === true}"
      class="bg-shade fixed inset-0 z-50 flex justify-center p-4" >



    <div class="md:w-8/12 h-full flex flex-col bg-white relative rounded overflow-hidden">

        <div class="absolute right-0
                top-0 w-12 h-12 flex items-center
                justify-center cursor-pointer z-20"
             on:click="{() => {hidden = !hidden;}}"
        >
            <svg class="icon icon-cross font-black icon fill-current"><use xlink:href="/assets/icons.svg#icon-cross"></use></svg>
        </div>

        <div class="p-2 relative">
            <div class="">
                <h2 class="text-xl text-center py-2">
                    Agregar Estudiante
                </h2>
                <div class="flex flex-wrap">
                    <div class="border-0 border-pink-500 w-full md:w-1/3 pr-2">
                        <label class="block">Nombres</label>
                        <input type="text" class="field" placeholder="Nombres" bind:value={first_name} on:input={fetchResults}>
                    </div>
                    <div class="border-0 border-pink-500 w-full md:w-1/3 pr-2">
                        <label class="block">Apellidos</label>
                        <input type="text" class="field" placeholder="Apellidos" bind:value={last_name} on:input={fetchResults}>
                    </div>
                    <div class="border-0 border-pink-500 w-full md:w-1/3 pr-2">
                        <label class="block">#De identidad</label>
                        <input type="text" class="field" placeholder="1120745232" bind:value={local_id} on:input={fetchResults}>
                    </div>
                    <!--            <div class="border border-pink-500 w-full md:w-1/4 pr-0">-->
                    <!--                <label class="block">&nbsp;</label>-->
                    <!--                <button class="btn btn.spin w-full">Agregar</button>-->
                    <!--            </div>-->

                </div>

            </div>


        </div>

        <div class="flex-grow overflow-scroll w-full left-0 bg-white" >
            <div class="bg-white">
                <div class="border-gray-500 border-b-4 flex justify-center h-10 flex items-center">
                    {#if !results.length}
                        {#if !emptyForm && !loading && preTimer == false}
                            La busqueda no obtuvo resultados
                        {/if}

                        {#if emptyForm && !loading}
                            Llena el formulario para encontrar usuarios
                        {/if}

                    {:else}
                        Resultados
                    {/if}

                    {#if loading}
                        <Spinner/>
                    {/if}
                </div>

                {#if results.length}

                    {#each results as student (student.id)}
                        <StudentRow student={student} group_id={group_id} last_item="{results.indexOf(student) == (results.length - 1)}" />
                    {/each}
                    {#if next_page}
                        <div class="border-b text-center h-10 mb-16 relative">
                            <a class="link block
                                    w-full h-full
                                    border-gray-500 flex items-center justify-center"
                               on:click|preventDefault={loadMore} href="{next_page}" >
                                <div class="w-10">

                                </div>
                                <span class="underline">Cargar más</span>
                                <div class="w-10 text-center">
                                    {#if loading_more}
                                        <Spinner/>
                                    {/if}
                                </div>

                            </a>

                        </div>
                    {/if}
                {/if}

            </div>
        </div>
    </div>
</div>



