<script>
export let student;
export let group_id;
export let last_item;
let csrfToken = document.querySelector('[name="csrf-token"]').content

$: student_id = student.id

</script>

<form action="/groups/{group_id}/students"
      method="post"
      class:border-b={true}
      class="flex flex-wrap px-2 border-gray-400 py-3">


    <div class="min-w-full lg:min-w-initial border-0 border-red-500 flex-grow">
        <div class="">{student.first_name} {student.last_name}</div>
        <div class="">{student.local_id}</div>
    </div>

    <div class="min-w-full lg:min-w-initial flex items-center justify-center">
        <input type="hidden" name="_token" value="{csrfToken}">
        <input type="hidden" name="user_id" bind:value="{student.id}">

        <button class="btn h-8 text-center"  >
            Agregar al curso
            <svg class="icon icon-cheveron-right text-white fill-current"><use xlink:href="/assets/icons.svg#icon-cheveron-right"></use></svg>
        </button>
    </div>
</form>

