<script>
import { createEventDispatcher } from 'svelte';
export let file;
export let folder_id;

const dispatch = createEventDispatcher();


let percent = 0;

let getSignedUrl = async (selectedFile) => {
    let response = await axios.post('/web-api/signed-url')
    await axios.put(response.data.signed_url, selectedFile, {
        onUploadProgress: (progressEvent) => {
            percent = (progressEvent.loaded / progressEvent.total) * 100;
        }
    })
    axios.post('/web-api/store-file', {
        key: response.data.key,
        folder_id: folder_id,
        filename: selectedFile.name
    }).then(response => {
        dispatch('uploaded', { file: file });
    })
}

getSignedUrl(file.file);

</script>

{#if file}
<div class="border rounded mb-4">
    <p class="p-2 text-center text-2xl">{file.file.name}</p>
    <div class="h-10 w-full bg-gray-300">
        <div class="h-full bg-green-400" style="width: {percent}%"> </div>
    </div>
</div>
{/if}


