<svelte:options accessors/>
<script>
    import FileUpload from './FileUpload.svelte'
    export let folder_id;
    export const open = () => {
	    input.click();
    }

    function handleChange() {
	    for (let i = 0; i < input.files.length; i++) {
	        files = [...files, {
	            file: input.files[i],
                uploaded: false
            }]
        }
    }
    let input;
    let files = [];
    if (!folder_id) {
       throw 'The folder id is required';
    }

    let handleUploaded = (e) => {
        let updatedFiles = files.map(file => {
            if (file.file.name == e.detail.file.file.name) {
                file.uploaded = true
            }
            return file
        })
        files = updatedFiles
        reloadIfAllUploaded()
    }

    function reloadIfAllUploaded() {
        let counter = files.length;
        files.forEach(file => {
            if (file.uploaded == true) {
                counter--;
            }
        })
        if (counter == 0) {
           window.location.reload();
        }
    }

</script>

<input type="file"
       class="hidden"
       name="files[]"
       bind:this={input}
       multiple
       on:change={handleChange}
>
{#if files.length}
<div class="p-4 border-4 rounded w-11/12 mx-auto border-dashed my-4"        >
    {#each files as file (file)}
        <FileUpload file={file} folder_id={folder_id} on:uploaded="{handleUploaded}" />
    {/each}
</div>
{/if}
