.btn {
    @apply bg-blue-500 text-white py-1 px-6 rounded inline-block relative;
}

.btn:active {
    outline: none;
}

.btn-neutral {
    @apply bg-gray-400 text-gray-900;
}

.btn:hover {
    @apply bg-blue-700;
}

.btn-neutral:hover {
    @apply bg-gray-700;
}

.btn.btn-spin {
    pointer-events: none;
    @apply text-transparent;
}

.btn-spin::after {
    content: "";
    display: block;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
    position: absolute !important;
    width: 1em;
    height: 1em;
    border: 2px solid #dbdbdb;
    /* border-color: transparent transparent rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7) !important; */
    border-color: transparent transparent rgba(255, 255, 255, 0.9) rgba(255, 255, 255, 0.9) !important;
    border-radius: 290486px;
    @apply spin;
}

.link {
    @apply text-blue-500 underline;
}


.spin {
    -webkit-animation: spin .5s linear infinite;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
