.field {
  @apply border border-gray-500 h-10 px-2 rounded w-full border;
}

.field:focus {
    @apply outline-none
}


.field-error {
    @apply border-red-600;
}

.field-error:focus {
    @apply shadow-error;
}

.field-label {
    @apply w-full py-2 flex flex-col justify-center pr-3;
}

.field-label-empty {
    @apply hidden;
}

@screen md {
    .field-label {
        @apply w-4/12 text-right;
    }
    .field-label-empty {
        @apply flex;
    }
}

.field-container {
    @apply w-full relative;
}

@screen md {
    .field-container {
        @apply w-8/12 pl-0;
    }
}

.field-error-message {
    @apply text-red-600 font-thin text-xs absolute py-1;
}
