.table td, table th {
    @apply border px-4 py-2;
}

.responsive-table, .responsive-table th, .responsive-table td {
    @apply block;
}

.responsive-table th, .responsive-table td {
    margin-bottom: -1px;
    @apply w-1/2;
}

.responsive-table th {
    @apply border-r-0;
}


.responsive-table tr {
    @apply mb-4 w-full flex flex-wrap;
}

.responsive-table thead {
    @apply hidden;
}

.responsive-table tbody {
    @apply block;
}

tr.main-mobile-header td, tr.main-mobile-header th {
    @apply w-full;
}

.responsive-table th.mobile-header {
    @apply text-center;
}

@screen md {
    .responsive-table th.mobile-header {
        @apply hidden;
    }
    .responsive-table thead {
        display: table-header-group;
    }

    .responsive-table tbody {
        display: table-row-group;
    }

    .responsive-table {
         @apply table;
    }
    .responsive-table tr {
        @apply table-row mb-0;
    }
    .responsive-table td, .responsive-table th {
        @apply table-cell mb-0;
    }
    .responsive-table th {
        @apply mr-0;
    }
    tr.main-mobile-header {
        @apply hidden;
    }

    .responsive-table th {
        @apply border-r;
    }
}
