<svg
        viewBox="0 0 24 24" class="h-8 w-8 spin inline"><path fill="currentColor"
                                                       d="M12 21a9 9 0 100-18 9 9 0 000 18zm0-2a7 7 0 110-14 7 7 0 010 14z"
                                                       class="text-gray-600"></path><path fill="currentColor"
                                                                                          d="M12 3a9 9 0 010 18v-2a7 7 0 000-14V3z"
                                                                                          class="text-gray-400"></path>
</svg>
